.location-emergency {
  margin-top: 30px;
  padding: 20px;
  border-radius: 16px;
  background: linear-gradient(135deg, #ffecd2, #fcb69f);
  text-align: center;
}

.emergency-buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.em-btn {
  padding: 14px 20px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.police {
  background: #6a0572;
}

.ambulance {
  background: #d7263d;
}

.fire {
  background: #f46036;
}
