.sos-btn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background: radial-gradient(circle, #ff0000, #b00000);
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 25px rgba(255, 0, 0, 0.8);
    animation: pulse 1.4s infinite;
    z-index: 999;
}

@keyframes pulse {
    0% { box-shadow: 0 0 10px red; }
    50% { box-shadow: 0 0 30px red; }
    100% { box-shadow: 0 0 10px red; }
}
